.inicio {
  background-image: url('../img/fondo-publico.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  /* Centra horizontal */
  align-items: center;
  /* Centra vertical */
  height: 200px;
  /* ajusta al tamaño que necesites */
}

.logo {
  height: 260px;
  width: 280px;
}

.registro {
  justify-content: center;
  /* Centra horizontal */
  align-items: center;
  /* Centra vertical */
  background-color: #0B3D91;
  color: white;
  text-align: center;
}

.juego {
  background: linear-gradient(281deg, #001f3f, #003366);
  /* estilo millonario */

  justify-content: center;
  align-items: center;
  width: 100%;

}

@media (max-width: 768px) {
  .preguntas {
    margin-top: 0 !important;
    /* elimina el margen superior */
  }
}

.preguntas {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  /* centra el contenido */
  max-width: 500px;
  width: 90%;

}

.imagen {
  width: 100%;
  height: 100%;
  /* alto del div */
  overflow: hidden;

}

.imagen img {
  display: block;
  /* convierte img en bloque */
  margin: 0 auto 20px auto;
  /* centra la imagen */
}

.numero {
  border-bottom: 3px solid #007bff;
  /* azul bootstrap */
  padding-bottom: 8px;
  /* espacio para que no se pegue al texto */
}

.tiempo {
  border-top: 3px solid #007bff;
  /* azul bootstrap */
}

.circle-timer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 4px solid #007bff;
  /* azul bootstrap */
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  color: gold;
  font-weight: bold;
  text-shadow: 1px 1px 8px black;
}

.table td {
  text-align: left;
  padding: 8px;
  font-size: 25px;
}

.table tr {
  font-size: 30px;
}

@media (max-width: 576px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
  }
}

.table {
  color: white;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #1e90ff; /* Azul oscuro */
}

.table thead th {
  background: black;
  color: #FFD700;
  font-size: 18px;
  text-align: center;

}

.table tbody tr {
  background: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}

.table tbody tr:hover {
  background: #1e90ff; /* Azul eléctrico */
  color: white;
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(30, 144, 255, 0.7);
}


.table td {
  text-align: center;
  padding: 12px;
  font-size: 26px;
}


